<ul>
    {% for hash in include.authors -%}
    {% assign author = hash[1] -%}
    
    {% if author.alumni %}
    {% assign alumni = true %}
    {% else %}
    {% assign alumni = false %}
    {% endif %}

    {% if alumni == include.alumni %}
    {% if author.role == include.role %}
    <li>
        {% if author.links %}
        <a href="{{ author.links[0].url }}">{{ author.name }}</a>
        {% else %}
        {{ author.name }}
        {% endif %}

        {% if author.date %}
        ({{ author.date }})
        {% endif %}
        
        {% if author.advisor -%}
        - Advised by {{ author.advisor }}
        {% endif %}

        {% if author.note %}
        - {{ author.note }}
        {% endif %}

        {% if author.new_role %}
        ➡️ {{ author.new_role }}
        {% endif %}
    </li>
    {%endif %}
    {% endif %}

    {% endfor %}
</ul>